USE [master]
GO
/****** Object:  Database [CarCoin]    Script Date: 6/1/2019 10:12:55 PM ******/
CREATE DATABASE [CarCoin]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CarCoin', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SOOSTAR\MSSQL\DATA\CarCoin.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CarCoin_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SOOSTAR\MSSQL\DATA\CarCoin_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CarCoin].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CarCoin]
GO
/****** Object:  Table [dbo].[superuser]    Script Date: 6/1/2019 10:12:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[superuser](
	[sid] [int] IDENTITY(1,1) NOT NULL,
	[uid] [int] NOT NULL,
 CONSTRAINT [PK_superuser] PRIMARY KEY CLUSTERED 
(
	[sid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 6/1/2019 10:12:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[uid] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](max) NULL,
	[password] [nvarchar](max) NULL,
	[nickname] [nvarchar](max) NULL,
	[ethereum_adr] [nvarchar](max) NULL,
	[is_insurance] [tinyint] NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[uid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
